.card {
  position: relative;
  width: 200px;
  box-shadow: 0px 0px 2px gray;
  text-align: center;
  padding: 2px;
}

.card:hover h2 {
  color: gray;
}

.card > img {
    width: 100%;
}

h2 {
    text-transform: capitalize;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: capitalize;
    color: #222;
    margin: 8px 0;
}

.forms {
  position: absolute;
  top: 100%;
  left: 0;

  background: white;
  border-radius: 10px;

  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  box-shadow: 0 5px 15px gray;
  z-index: 10;

  padding: 2px;

  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
}

.form {
  width: 180px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form img {
  width: 180px;
  object-fit: contain;
  translate: 10px 10px;
}

.form:hover p {
  color: gray;
}

.card.uncaught {
    filter: grayscale(100%);
    opacity: 0.45;
    background-color: gray;
    border: 3px solid black;
}

.card.caught {
    background-color: lightgreen;
    border: 3px solid black;
}

.card.shiny {
    background-color: gold;
    border: 3px solid black;
}

.collection-buttons {
    display:flex;
    gap:5px;
    justify-content: center;
}

.collection-buttons button {
    cursor:pointer;
    border-radius: 10px;
    border: 1px solid black;
}

.collection-buttons button:hover {
    color: gray;
}

.caught-button {
    background-color: white;
    border: 1px solid green;
    color: green;
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;
}


.caught-button.caught-active {
    background-color: #4caf50;
    color: white;
}


.shiny-button {
    background-color: white;
    border: 1px solid gold;
    color: goldenrod;
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;
}

.shiny-button.shiny-active {
    background-color: #ffd700;
    color: black;
}

.gender-label {
    font-size: 0.8rem;
    margin-left: 8px;
    opacity: 0.7;
}