#search-bar {
    font-size: 2rem;
    margin-left: 0px;
    border: 1px solid gray;
    border-radius: 12px;
}

.search-results {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    width: 320px;
    font-family: 'Nunito', sans-serif;

    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,.2);

    max-height: 450px;
    overflow-y: auto;

    z-index: 1000;
}

.search-result {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px;
    cursor: pointer;
}

.search-result:hover {
    background: #f2f2f2;
}